<div class="home-container">
    <div class="container vh-100 d-flex justify-content-center align-items-center text-white home-container">
        <div class="text-center">
            <h2 class=" text-uppercase">conatct section</h2>
            <div class="starIcon  position-relative mb-5"><i class="fa-solid fa-star text-secondary "></i></div>
            <div class="row text-start pt-5 w-75 g-4 mx-auto">
                
                <div class="col-md-10 offset-md-1"><input type="text" class="form-control border-0 border-bottom w-100 " placeholder="UserName"></div>
                <div class="col-md-10 offset-md-1"><input type="text" class="form-control border-0 border-bottom w-100" placeholder="UserAge"></div>
                <div class="col-md-10 offset-md-1" ><input type="text" class="form-control border-0 border-bottom w-100" placeholder="UserEmail"></div>
                <div class="col-md-10 offset-md-1"><input type="text" class="form-control border-0 border-bottom w-100" placeholder="UserPassword"></div>
                <div class="col-md-10 offset-md-1"><button class="btn btn-danger">send Message</button></div>
            
           </div>
        </div>

    </div>

</div>