<div class="home-container">
    <div class="container vh-100 d-flex justify-content-center align-items-center text-white home-container">
        <div class="text-center">
            <h2 class=" text-uppercase">portfolio component</h2>
            <div class="starIcon  position-relative"><i class="fa-solid fa-star text-secondary "></i></div>
            <div class="row text-start mt-3 g-4">
                <div class="col-md-4 ">
                    <div class="inner position-relative z-n1">
                        <img src="https://routeegy.github.io/startFramework/assets/images/poert1.png" class="w-100 rounded-2" alt="img1-house">
                        <div class="position-absolute top-0 bottom-0 start-0 end-0 rounded-2 text-center  justify-content-center align-items-center bg-danger  ">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="inner position-relative z-n1">
                        <img src="https://routeegy.github.io/startFramework/assets/images/port2.png" class="w-100 rounded-2" alt="img1-house">
                        <div class="position-absolute top-0 bottom-0 start-0 end-0 rounded-2 text-center  justify-content-center align-items-center bg-danger  ">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="inner position-relative z-n1">
                        <img src="https://routeegy.github.io/startFramework/assets/images/port3.png" class="w-100 rounded-2" alt="img1-house">
                        <div class="position-absolute top-0 bottom-0 start-0 end-0 rounded-2 text-center  justify-content-center align-items-center bg-danger  ">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="inner position-relative z-n1">
                        <img src="https://routeegy.github.io/startFramework/assets/images/poert1.png" class="w-100 rounded-2" alt="img1-house">
                        <div class="position-absolute top-0 bottom-0 start-0 end-0 rounded-2 text-center  justify-content-center align-items-center bg-danger  ">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="inner position-relative z-n1">
                        <img src="https://routeegy.github.io/startFramework/assets/images/port2.png" class="w-100 rounded-2" alt="img1-house">
                        <div class="position-absolute top-0 bottom-0 start-0 end-0 rounded-2 text-center  justify-content-center align-items-center bg-danger  ">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="inner position-relative z-n1">
                        <img src="https://routeegy.github.io/startFramework/assets/images/port3.png" class="w-100 rounded-2" alt="img1-house">
                        <div class="position-absolute top-0 bottom-0 start-0 end-0 rounded-2 text-center  justify-content-center align-items-center bg-danger  ">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
           </div>
        </div>

    </div>

</div>