<div class="home-container">
  <div class="container vh-100 d-flex justify-content-center align-items-center text-white home-container">
    <div class="text-center">
      <img src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg" class="w-75 mb-4" alt="">
      <h2 class="text-capitalize ">START FRAMEWORK</h2>
      <div class="starIcon position-relative"><i class="fa-solid fa-star "></i></div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
    </div>
    
</div>